.icon {
  width: 100px;
  height: 86px;
  background-size: cover;
}

@media(min-width: 500px) {
  .icon {
    width: 141px;
    height: 121px;
  }
}

.small {
  width: 29px;
  height: 24px;
}

.cherry {
  background-image: url('./Cherry.png')
}

.seven {
  background-image: url('./7.png')
}

.tripleBar {
  background-image: url('./3xBAR.png')
}

.doubleBar {
  background-image: url('./2xBAR.png')
}

.singleBar {
  background-image: url('./BAR.png')
}